extends layout.pug

include utils.pug

block content
  link(rel='stylesheet' href='/stylesheets/questions.css')
  div.body-content-container
    .body-header-content
      .title-container
        span#header-title #{question.title}
      .btn-container
        a(href='questions/add' method='GET'): button.ask-button Ask Question
    .question-container
      .main-container
        .content-container
          p#content-text #{question.content}
        .sidebar-container
          button.vote-button.upvote-button
          span.vote-count-span #{votes}
          button.vote-button.downvote-button
      .button-container
    .answer-container
      div.answer-header
        span.num-answers #{answers.length} Answers
      div.answer-list-container
        each answer in answers
          div(id= `${answer.id}`)
            .content-container
              p#answer-text #{answer.content}
            .sidebar-container
              button.vote-button.upvote-button
              span.vote-span= `${answerVotesCollection[`${answer.id}vote`]}`
              button.vote-button.downvote-button
