extends layout.pug

include utils.pug

block content
  div.content-body
    .body-sidebar-left
    .content-center
      div(class=`question-container` id=`question-container-${question.id}`)
        .main-container
          .sidebar-container
            div(class=`vote-button upvote-button question-upvote-button` id=`upvote-question-${question.id}`)
            span.vote-count-span.vote-span.question-votes #{votes}
            a(href="#"): div(class=`vote-button downvote-button question-downvote-button` id=`downvote-question-${question.id}`)
          .content-container
            p#content-text #{question.content}
        .button-container
          if loggedInUser === question.userId
            a(href=`/questions/${question.id}/edit`): button.edit-button Edit
            a(href=`/questions/${question.id}/delete`): button.delete-button Delete
      .answer-container
        div.answer-header
          span.num-answers #{answers.length} Answers
        div.answer-list-container
          each answer in answers
            div(id= `answer-${answer.id}` class="answer-container")
              .main-container.answer-main-container
                div(class=`sidebar-container answer-sidebar-container` id=`answer-vote-container-${answer.id}`)
                  a(href="#"): div(class=`vote-button upvote-button answer-upvote-button` id=`upvote-answer-${answer.id}`)
                  span(class=`vote-span answer-vote-span answer-${answer.id}-vote-span`)= `${answerVotesCollection[`${answer.id}vote`]}`
                  a(href="#"): div(class=`vote-button downvote-button answer-downvote-button` id=`downvote-answer-${answer.id}`)
                .content-container
                  p(id=`${answer.id}-answer-text`) #{answer.content}
              .button-container
                if loggedInUser === answer.userId
                  button(class=`edit-button edit-answer-btn modify-answer-btns-${answer.id}` id=`edit-answer-btn-${answer.id}`) Edit
                  button(class=`delete-button delete-answer-btn modify-answer-btns-${answer.id}` id=`delete-answer-btn-${answer.id}`) Delete
                  div(class=`hidden confirm-modal confirm-modal-${answer.id}` id=`confirm-delete-modal-${answer.id}`)
                    .modal-content
                      span.modal-text Are you sure?
                      .modal-buttons
                        span.modal-cancel Cancel
                        span.modal-confirm Delete

                  form(class='hidden edit-answer-form' id=`edit-answer-form-${answer.id}`)
                    label
                    .answer-form-text-container
                      textarea(class= 'edit-answer-text' onclick='this.style.height = "";this.style.height = this.scrollHeight + "px"' type="text" name="content" rows=10 id=`${answer.id}-edit-answer`) #{answer.content}
                    .answer-form-button-container
                      button(class="edit-answer-submit" id=`edit-answer-submit-${answer.id}`) Submit
      .answer-form-container
        .btn-container#post-answer-btn.post-answer-btn
          if loggedInUser
            a(href=`/questions/${question.id}/answer/add` method='GET'): button.post-answer-button Post Your Answer
          else
            a(href='/users/register' id='logged-out-post-answer'): button.post-answer-button Post Your Answer

    .body-sidebar-right

    script(src="/javascripts/votes.js")
    script(src="/javascripts/answerEdit.js")
    script(src="/javascripts/answerDelete.js")
