extends layout.pug

block content
  .question-list-container
    each question in questions
      .question-container

        .vote-answer-div
          .vote-div
            span.vote-span= `${voteCollection[`${question.id}vote`]}`
            span.vote-span  Votes
          .answer-div
            span(class=`num-answer-span` id=`span${question.id}`)= `${answerCollection[`${question.id}numAnswers`]}`
            span(class=`num-answer-label num-answer-label${question.id}`)  Answers
        .title-content-div
          .title-div
            a(href=`/questions/${question.id}`): span.question-title-span= `${question.title}`
          .tags-div
          .username-content-div
            .img-div
            span.username-span= `${question.User.username}`
            .modified-div
            span.modified-span= `Created ${question.createdAtShort}`
            span.updated-span= `Updated ${question.timeAgo}`
          
  include includes/footer.pug
  script(src="/javascripts/votes-question-list.js")
