extends layout.pug
block content
    link(rel='stylesheet' href='/stylesheets/questions.css')
    div.body-content-container
        .body-header-content
            .title-container
                span#header-title #{title}
            .btn-container
                a(href='/questions/add' method='GET'): button.ask-button Ask Question
        .question-list-container
            each question in questions
                .question-container

                    .vote-answer-div
                        .vote-div
                            span.vote-span= `${voteCollection[`${question.id}vote`]}`
                        .answer-div
                            span.answer-span= `${question.User.username}`
                    .title-content-div
                        .title-div
                            span.question-title-span= `${question.title}`
                        .tags-div
                        .username-content-div
                            .img-div
                            span.username-span= `${question.User.username}`
                            .modified-div
                            span.modified-span= `created at ${question.createdAt}`
